<style>
    body, h1, h2, h3, h4, h5, h6, p, span, strong, div {
        font-family: 'General Sans', Arial, sans-serif !important;
    }
</style>

<div class="container">
    

    <div class="row">
        <div class="col-md-6 d-flex flex-column align-items-center align-items-md-start justify-content-center text-center text-md-start">
            <h1 class=" pt-3" style="font-weight: 600 !important; font-size: 45px;">
                <span style="color: #4AA147; margin-bottom: -10px; " class="typing-animation ">Empower your </span> <br />
                startups by accelerating <br />
                the lead flow
            </h1>
            <p style="color: #666; font-weight: 400 !important; font-size: 16px;">
                We help you boldly set your ambitions and clearly define your future <br /> with confidence.
            </p>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <img src="~/User/img/header-front-image.png" alt="Image 1" class="img-fluid slide-up pt-3" style="max-width: 100%; height: auto;">
        </div>
    </div>




    <div class="row py-4 " style="background-color: #E7FEE7; border-radius: 10px; box-shadow: 0 4px 4px 0 rgba(217, 217, 217, 0.5)">
        <div class="col-md-4 col-sm-12 pt-2">
            <div class="row align-items-center" style="border-right: 4px solid #FFFFFF;">
                <div class="col-4 col-md-4 order-md-1 d-flex justify-content-end">
                    <img src="~/User/img/Leave Request.png" alt="Leave Request" class="img-fluid slide-up" style="width: 80px;">
                </div>
                <div class="col-8 col-md-8 order-md-2" style="line-height: 15px;">
                    <h6 style="font-size: 18px; font-weight: 500 !important;">Leave Request</h6>
                    <p style="line-height: 20px; font-size: 14px; color: #666;">Best attendance & leave tracking system</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 pt-2">
            <div class="row align-items-center" style="border-right: 4px solid #FFFFFF;">
                <div class="col-4 col-md-4 order-md-1 d-flex justify-content-end">
                    <img src="~/User/img/Attendance List.png" alt="Attendance List" class="img-fluid slide-up" style="width: 80px;">
                </div>
                <div class="col-8 col-md-8 order-md-2" style="line-height: 15px;">
                    <h6 style="font-size: 18px; font-weight: 500 !important;">Attendance List</h6>
                    <p style="line-height: 20px; font-size: 14px;  color: #666;">Best attendance & leave tracking system</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 pt-2">
            <div class="row align-items-center">
                <div class="col-4 col-md-4 order-md-1 d-flex justify-content-end">
                    <img src="~/User/img/Work & Holidays.png" alt="Work & Holidays" class="img-fluid" style="width: 80px;">
                </div>
                <div class="col-8 col-md-8 order-md-2" style="line-height: 15px;">
                    <h6 style="font-size: 18px;">Work & Holidays</h6>
                    <p style="line-height: 20px; font-size: 14px;  color: #666;">Best attendance & leave tracking system</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6  d-flex justify-content-center">
            <img src="~/User/img/2nd-landing-image.png" alt="Image 1" class="img-fluid pt-3" style="max-width: 100%; height: auto;">
        </div>
        <div class="col-md-6 pt-3 d-flex flex-column align-items-center align-items-md-start text-center text-md-start">
            <h1 class="fw-bold pt-5 pt-md-5 mt-md-3" style="font-size: 40px;">
                <span style="color: #666;">Manage</span>  <span style="color: #4AA147;">“Attendance & <br /> Leave” </span>

            </h1>
            <p style="color: #414042; font-size: 16px;">
                We help you boldly set your ambitions and clearlly define your future <br /> with confidence.
            </p>
        </div>

    </div>


</div>

<div class="container-fluid" style="background: linear-gradient(to bottom, #E7FEE7 0%, #EDF4ED 56%);">
    <div class="container pt-5">
        <div class="row py-4  " style="background-color: #FFFFFF;  border-radius: 15px; box-shadow: 0 4px 4px 0 rgba(217, 217, 217, 0.5)">
            <div class="col-md-4 col-sm-12 pt-2">
                <div class="row align-items-center" style="border-right: 4px solid #FFFFFF;">
                    <div class="col-4 col-md-4 order-md-1 d-flex justify-content-end">
                        <img src="~/User/img/Loan Request.png" alt="Leave Request" class="img-fluid" style="width: 80px;">
                    </div>
                    <div class="col-8 col-md-8 order-md-2" style="line-height: 15px;">
                        <h6 style="font-size: 18px; font-weight: 500 !important;">Loan Request</h6>
                        <p style="line-height: 20px; font-size: 14px; color: #666;">Best attendance & leave tracking system</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 pt-2">
                <div class="row align-items-center" style="border-right: 4px solid #FFFFFF;">
                    <div class="col-4 col-md-4 order-md-1 d-flex justify-content-end">
                        <img src="~/User/img/Salary List.png" alt="Attendance List" class="img-fluid" style="width: 80px;">
                    </div>
                    <div class="col-8 col-md-8 order-md-2" style="line-height: 15px;">
                        <h6 style="font-size: 18px; font-weight: 500 !important;">Salary List</h6>
                        <p style="line-height: 20px; font-size: 14px; color: #666;">Best attendance & leave tracking system</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 pt-2">
                <div class="row align-items-center">
                    <div class="col-4 col-md-4 order-md-1 d-flex justify-content-end">
                        <img src="~/User/img/Payslip.png" alt="Work & Holidays" class="img-fluid" style="width: 80px;">
                    </div>
                    <div class="col-8 col-md-8 order-md-2" style="line-height: 15px;">
                        <h6 style="font-size: 18px; font-weight: 500 !important;">Payslip</h6>
                        <p style="line-height: 20px; font-size: 14px; color: #666;">Best attendance & leave tracking system</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pt-3" style="padding-bottom: 100px;">
            <div class="col-md-6  d-flex justify-content-center">
                <img src="~/User/img/Mockup.png" alt="Image 1" class="img-fluid pt-3" style="max-width: 100%; height: auto;">
            </div>
            <div class="col-md-6  d-flex flex-column align-items-center align-items-md-start text-center text-md-start">
                <h1 class="fw-bold pt-5 pt-md-5 mt-md-3" style="font-size: 40px;">
                    <span style="color: #666;">Manage</span>  <span style="color: #4AA147;">“Payroll & <br />Finance” </span>

                </h1>
                <p style="color: #414042; font-size: 16px;">
                    We help you boldly set your ambitions and clearlly define your future <br /> with confidence.
                </p>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <div class="row py-4  " style="background-color: #FFFFFF; margin-top: -70px; border-radius: 15px; box-shadow: 0 4px 4px 0 rgba(217, 217, 217, 0.5)">
        <div class="col-md-4 col-sm-12 pt-2">
            <div class="row align-items-center" style="border-right: 4px solid #FFFFFF;">
                <div class="col-4 col-md-4 order-md-1 d-flex justify-content-end">
                    <img src="~/User/img/Project Progress.png" alt="Leave Request" class="img-fluid" style="width: 80px;">
                </div>
                <div class="col-8 col-md-8 order-md-2" style="line-height: 15px;">
                    <h6 style="font-size: 18px; font-weight: 500 !important;">Project Progress</h6>
                    <p style="line-height: 20px; font-size: 14px; color: #666;">Best attendance & leave tracking system</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 pt-2">
            <div class="row align-items-center" style="border-right: 4px solid #FFFFFF;">
                <div class="col-4 col-md-4 order-md-1 d-flex justify-content-end">
                    <img src="~/User/img/Employee Performance List.png" alt="Attendance List" class="img-fluid" style="width: 80px;">
                </div>
                <div class="col-8 col-md-8 order-md-2" style="line-height: 15px;">
                    <h6 style="font-size: 18px; font-weight: 500 !important;">Employee Performance List</h6>
                    <p style="line-height: 20px; font-size: 14px; color: #666;">Best attendance & leave tracking system</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 pt-2">
            <div class="row align-items-center">
                <div class="col-4 col-md-4 order-md-1 d-flex justify-content-end">
                    <img src="~/User/img/Increment & Promotion.png" alt="Work & Holidays" class="img-fluid" style="width: 80px;">
                </div>
                <div class="col-8 col-md-8 order-md-2" style="line-height: 15px;">
                    <h6 style="font-size: 18px; font-weight: 500 !important;">Increment & Promotion</h6>
                    <p style="line-height: 20px; font-size: 14px; color: #666;">Best attendance & leave tracking system</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6 pt-5  d-flex flex-column align-items-center align-items-md-start text-center text-md-start">
            <h1 class="fw-bold pt-5 pt-md-5 mt-md-3" style="font-size: 40px;">
                <span style="color: #666;">Manage</span>  <span style="color: #4AA147;">“Performance Management” </span>

            </h1>
            <p style="color: #414042; font-size: 16px;">
                We help you boldly set your ambitions and clearlly define your future  <br />with confidence.
            </p>
        </div>
        <div class="col-md-6  d-flex justify-content-center">
            <img src="~/User/img/4th-landing-page.png" alt="Image 1" class="img-fluid pt-3" style="max-width: 100%; height: auto;">
        </div>
    </div>

</div>
