@model PasswordVM

@{
    ViewData["Title"] = "ConfirmOTP";
}

<div class="login-box">
    <div class="card">
        <div class="card-body login-card-body">
            <div class="login-logo">
                <p><b>New Password</b></p>
            </div>
            <p class="login-box-msg">Enter a New Password</p>

            <form asp-action="ResetPassword" method="post">
                <div class="input-group mb-3">
                    <input type="hidden" asp-for="userName" />
                    <input class="form-control" placeholder="Email" value="@Model.userName" disabled />
                    <span asp-validation-for="userName" class="text-danger"></span>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class=" fa-solid fa-user"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input asp-for="newPassword" class="form-control" placeholder="Password" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span id="showPasswordToggle" class="fas fa-eye" onclick="togglePasswordVisibility()"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="newPassword" class="text-danger"></span>
                <div id="passwordValidationMsg" class="text-danger"></div>

                <div class="row">
                    <div class="col-4">
                        <button type="submit" class="button-41">Confirm</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("newPassword");
            var showPasswordToggle = document.getElementById("showPasswordToggle");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                showPasswordToggle.classList.remove("fas", "fa-eye");
                showPasswordToggle.classList.add("fas", "fa-eye-slash");
            } else {
                passwordInput.type = "password";
                showPasswordToggle.classList.remove("fas", "fa-eye-slash");
                showPasswordToggle.classList.add("fas", "fa-eye");
            }
        }
    </script>
}
