/* start*/
.customPlaceholder {
    color: #97909E;
    font-weight: 400;
    font-size: 16px;
}

.customSubHead {
    font-weight: 400;
    font-size: 15px;
    color: #839496;
}

.customLebel {
    color: #839496;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 7px;
}
/*.icon-font::placeholder {
    font-family: bootstrap-icons;
}*/

.customFtext {
    color: #645FD6;
    font-weight: 500;
    font-size: 12px;
}

.customCheck {
    color: #97909E;
    font-weight: 400;
    font-size: 12px;
}

.customSignUp {
    color: #7067DE;
    font-weight: 600;
    font-size: 16px;
}

.customHeadline {
    font-weight: 600;
    font-size: 30px;
    color: #403D3D;
}
/* end*/

#regForm {
    background-color: #ffffff;
    margin: 0px auto;
    padding: 40px;
    border-radius: 10px
}

#register {
    font-weight: 600;
    font-size: 30px;
    color: #403D3D;
}

h1 {
    text-align: center
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    /* font-family: Raleway;*/
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    -webkit-appearance: none;
}



.tab input:focus {
    border: 1px solid #6a1b9a !important;
    outline: none;
}

input.invalid {
    border: 1px solid #e03a0666;
}

.tab {
    display: none
}

button {
    /*background-color: #3777DB;*/
    background-color: #4AA147;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 17px;
    /* font-family: Raleway;*/
    cursor: pointer
}

    button:hover {
        opacity: 0.8
    }

    button:focus {
        outline: none !important;
    }

#prevBtn {
    background-color: #bbbbbb
}


.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.step {
    height: 40px;
    width: 40px;
    margin: 0 2px;
    background-color: #d9ead3;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #4AA147;
    opacity: 0.5;
}

    .step.active {
        opacity: 1
    }


    .step.finish {
        color: #fff;
        background: #4AA147;
        opacity: 1;
    }



.all-steps {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px
}

.thanks-message {
    display: none
}
